@import "tailwindcss";

@theme {
  --color-main: #075985;
  --color-main-700: #0369a1;
  --color-main-900: #0c4a6e;
  --color-main-950: #082f49;
  --font-title: 'orbitron', 'sans-serif';
  --section-clip-size: 40px;
}

@font-face {
  font-family: 'orbitron';
  src: url('/fonts/Orbitron-Bold.ttf');
}

@utility section-clip {
  clip-path: polygon(
    0 0,
    calc(max(180px, 20%)) 0,
    calc(max(180px, 20%) + var(--section-clip-size)) var(--section-clip-size),
    100% var(--section-clip-size),
    100% 100%,
    0 100%
  );
}

.menu-item {
  position: relative;
}
.menu-item::after { 
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 2px;
  width: 0;
  background: white;
  transition: width 0.3s;  
}
.menu-item:hover::after {
  width: 100%;
}